### Charts

In [ ]:
import numpy as np
import pandas as pd
import xlsxwriter

Wczytaj do Pandas bazę najlepiej sprzedających się albumów wszechczasów.

In [ ]:
data = pd.read_html(
    'https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551', 
    header=0)

In [ ]:
charts = data[0]
charts

In [ ]:
charts.columns

Zamień nagłówki kolumn na polskie odpowiedniki: ['TYTUŁ','ARTYSTA','ROK','MAX POZ']

In [ ]:
charts.rename(
    columns = {
        'POS': 'POZYCJA', 
        'TITLE': 'TYTUŁ', 
        'ARTIST': 'ARTYSTA', 
        'YEAR': 'ROK', 
        'HIGH POSN': 'MAX POZ'
    }
    ,inplace=True)

In [ ]:
charts.head()

Ilu pojedynczych artystów znajduje się na liście?

In [ ]:
number_of_unique_artists = len(charts['ARTYSTA'].unique())
number_of_unique_artists

Które zespoły pojawiają się najczęściej na liście?

In [ ]:
most_frequent_artists = charts['ARTYSTA'].value_counts().sort_values(ascending=False)

In [ ]:
most_frequent_artists.head()

In [ ]:
most_frequent_artist = charts['ARTYSTA'].value_counts().index[0]
most_frequent_artist

Zmień nagłówki kolumn, tak aby każdy z nich rozpoczynał się od wielkiej litery, a pozostałe były wprowadzone małymi literami.

In [ ]:
charts.columns = charts.columns.str.capitalize()

In [ ]:
charts.columns

In [ ]:
charts.head()

Wyrzuć z tabeli kolumnę ‘Max Poz’.

In [ ]:
charts.drop(columns=['Max poz'], inplace=True)
charts.columns

In [ ]:
charts.head()

W którym roku wyszło najwięcej albumów znajdujących się na liście?

In [ ]:
most_frequent_years = charts['Rok'].value_counts()
most_frequent_year = most_frequent_years.index[0]
most_frequent_year

Ile albumów wydanych między 1960 a 1990 rokiem włącznie znajduje się na liście?

In [ ]:
albums_between_1960_1990 = charts[(charts['Rok'] >= 1960) & (charts['Rok'] <= 1990)].shape[0]
albums_between_1960_1990

W którym roku wydany został najmłodszy album na liście?

In [ ]:
latest_album_year = charts['Rok'].max()
latest_album_year

Przygotuj listę najwcześniej wydanych albumów każdego artysty, który znalazł się na liście.

In [ ]:
debuts = charts.copy()
def answer():
    debuts.sort_values(by = 'Rok', inplace=True)
    debuts.shape[0]
    debuts.drop_duplicates(subset = 'Artysta', inplace = True)
    return debuts

In [ ]:
debuts = answer()
debuts.reset_index(inplace=True)
debuts[['Artysta','Tytuł']]

In [ ]:
debuts

In [26]:
debuts[['Tytuł','Artysta','Rok']].to_csv("debuts_on_top.csv", index=False, sep=',')

In [ ]:
# writer = pd.ExcelWriter("debuts_on_top.csv", engine='xlsxwriter')
# debuts[['Tytuł','Artysta','Rok']].to_csv(writer, sheet_name='debuts', )
# writer.close()

In [ ]:
def second_way():
    '''not succesful'''
    debuts.sort_values(by = 'Artysta', inplace=True)
    debuts
    # debuts.set_index([pd.Index(debuts['Artysta'].to_list()), debuts.index],inplace=True)
    debuts.set_index([pd.Index(debuts['Artysta'].to_list()),debuts['Tytuł']],inplace=True)
    debuts.index.names = ['Artysta', 'Tytuł']
    return None